.container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  .tag_ul {
    display: flex;
    .tag_li {
      list-style: none;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
